/* style.css */
.button {
    -fx-background-color: #fdca00; /* Default button color */
    -fx-text-fill: #0c0b0b; /* Default text color */
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.button:hover {
    -fx-background-color: #0c0b0b; /* Color on hover */
    -fx-text-fill: #737F93;
}
.image-icon{

}
.image-icon:hover{
    -fx-effect: dropshadow(gaussian, #f0d55d, 10, 0.5, 0.0, 0.0);

}

.image-icon2{

}
.image-icon2:hover{
    -fx-effect: dropshadow(gaussian, #3b2727, 8, 0.3, 0.0, 0.0);

}

.image-icon{

}
.image-icon:hover{
    -fx-effect: dropshadow(gaussian, #e89856, 5, 0.3, 0.0, 0.0);

}

/* Change text color to black for JFXTreeTableColumn cells */
.tree-table-row-cell .tree-table-cell {
    -fx-text-fill: black; /* Set text color to black */
}
